@import '../../styles/config.scss';

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    width: 100%;
    height: 100vh;
}
.login-paper{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 15px;
}
.paypal-paper{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 15px;
}
.login-field{
    width: 300px;
    height: 45px;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.field-set{
    margin: 7px 0px;
    border-radius: 5px;
}
.login-btn{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.login-logo{
    width: 170px;
}
.login-forgot-txt{
    text-align: center;
    margin-top: 20px;
}
.login-forgot-txt2{
    margin-left: 5px;
    text-decoration: none;
    color:$primary
}
.login-indecator{
    background-color: $primary;
    border-radius: 15px;
    padding:10px;
    border: 0.5px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .login-paper{
        width: 45%;
    }
    .paypal-paper{
        width: 75%;
    }
}
@media only screen and (max-width: 768px) {
    .login-paper{
        width: 70%;
    }
    .paypal-paper{
        width: 95%;
    }
}
@media only screen and (max-width: 426px) {
    .login-paper{
        width: 100%;
    }
    .paypal-paper{
        width: 100%;
        flex-direction: column;
    }
    .paypal-container{
        display: flex;
        flex-direction: column !important;
    }
}