@import './styles/style.scss';
@import './styles/config.scss';

*{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}
.PrivateTabIndicator-colorSecondary-6{
    background-color:$primary !important;
}
.dropZone-border{
    border: 1px solid $primary;
    z-index: 1000;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.dropZone-designer{
    border: 1px solid white;
    z-index: 1000;
    margin: 50px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
}
.MuiInputBase-input{
    // height: 0px !important;
}
.dropmenu-link{
    text-decoration: none;
    color: black;
}
.box-gallery{
    z-index: -100;
    top: -100px !important;
    height: 110% !important;
}